body{
    font-family: 'Coming Soon', sans-serif;
    color: #D4F1F4;
}

.wrapper {
    display: flex;
    height: 76.5vh;
}

.side-section {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.login-section {
    width: 400px;
    height: 400px;
    background-color: #05445E;
    border-radius: 25px;
    margin: auto;
    margin-top: 25vh;
}

.custom-btn {
    background: #189AB4;
    padding: 5px 10px;
    text-transform: uppercase;
  }

.login-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 20px;

}

.list-items > input {
    width: 97.8%;
}

.list-items > button {
    width: 100%;
}

.flex-column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}